body{
    background-color: white;
    margin: 0;
    font-family: "Titillium Web";
    font-weight: normal;
    text-transform: uppercase;


}
.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
}
.navbar-inverse{
    background: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a{
    color: #ecf0f1;
}
.navbar-inverse .navbar-brand{
    color: #ecf0f1; 
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}
#container{
    max-width: 600px;
    margin: 20px auto;

}
#bh1{
    color: white;
    text-align: center;
    background-color: #2c3e50;
    line-height: 1.1;
    padding: 20px 0;
    margin: 0;
}

#message{
    color: black;
    width: 20%;
}
#stripe{
    background-color: #ecf0f1;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    background-color:#2c3e50 ;
    color: white    ;
}
#colordisplay{
    font-size: 150%;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #2c3e50;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none
}
button:hover{
    color: white;
    background-color: steelblue;
}
#message{
    display: inline-block;
    width: 15%;
}